# project 1 Question 1

* What was the percentage change year to year? What were the maximum price and the minimum price in the last 3 years?

*

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

from matplotlib import style

#plt.style.use("seaborn")
#rentDataWork = "rent20-22.csv"



rent_data_df = pd.read_csv("rent20-22.csv")
rent_data_df.head()

,ID,state,county,county name,state initial,pop2017,studio_2020,studio_2021,bedroom_1_2020,bedroom_1_2021,...,% change Studio,% change bedroom_1,% change bedroom_2,% change bedroom_3,% change bedroom_4,Avg Studio,Avg bedroom_1,Avg bedroom_2,Avg bedroom_3,Avg bedroom_4
0,0,48,59,Callahan County,TX,13660,673,761,699,789,...,13.07578,12.875536,11.739130,14.392060,13.076923,4.0,3.47,3.67,3.23,-3.34
1,1,48,253,Jones County,TX,19970,673,761,699,789,...,13.07578,12.875536,11.739130,14.392060,-10.505837,NaN,NaN,NaN,NaN,NaN
2,2,48,441,Taylor County,TX,135370,673,761,699,789,...,13.07578,12.875536,11.739130,14.392060,-10.505837,NaN,NaN,NaN,NaN,NaN
3,3,72,3,Aguada Municipio,PR,39470,386,401,397,414,...,3.88601,4.282116,4.424779,1.861252,-4.237288,NaN,NaN,NaN,NaN,NaN
4,4,72,5,Aguadilla Municipio,PR,55720,386,401,397,414,...,3.88601,4.282116,4.424779,1.861252,-4.237288,NaN,NaN,NaN,NaN,NaN

## Chart it